#grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: repeat(4, auto) 1fr repeat(4, auto) 1fr;
    gap: 5px;
}

.right {
    justify-self: right;
}
